<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Game over!</h2>
    <div id="messageSpot"></div>
    <script>
        let messageSpot = document.getElementById("messageSpot");
        let message = document.createElement("h2");
        message.textContent = `Your score was ${sessionStorage.getItem("currScore")}!`;
        messageSpot.appendChild(message);
        sessionStorage.clear();
    </script>
</body>
</html>