<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How fast can you do math?</title>
    <script src="static/scripts/mathgame.js" defer></script>
</head>
<body>
    <form id="mathForm">
        <input type="number" required="on" autofocus id="answer">
        <input type="submit">
    </form>
    <script>
        setInterval(() => {
            let today = new Date();
            if (today.getMinutes() === eval(localStorage.getItem("currMin")) + 2 && today.getSeconds() === eval(localStorage.getItem("currSec")))
            {
                window.location.href="{{url_for('mathgameover')}}"
            }
        }, 1000)
    </script>
</body>
</html>