<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How fast can you do math?</title>
    <script src="static/scripts/mathgame.js"></script>
</head>
<body>
    <div id="questionSpot"></div>
    <form id="mathForm">
        <input type="number" required="on" autofocus id="answer">
        <input type="submit">
    </form>
    <script>
        check("{{url_for('mathgameover')}}");
        createQuestion();
        score();
    </script>
</body>
</html>